@import 'tailwindcss';
/* @todo check for file standards */

@theme {
    /* reset tailwind color variables, bc no need */
    --color-*: initial;

    /* not sure about these fonts yet */
    --font-sans: "Palanquin", serif;
    --font-serif: "Tajawal", serif;

    /* @todo use moderners color definitions */
    --color-primary: #528265;
    --color-primary-light: #C7EFE0;
    --color-accent: #E7AD99;
    --color-dark: #1a1d1a;
    --color-light: #828282;
}

/* @todo check if this should be defined elsewhere */
h1 {
    font-family: var(--font-serif);
    font-size: var(--text-6xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);

    span {
        color: var(--color-accent);
    }
}
